{% extends 'proceso/base.html' %} 
{% block content %} 
{% include 'proceso/navbar.html' %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Digitalización y Robotización</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <a type="button" class="btn btn-sm btn-primary" href="{% url 'addtarea' %}">
        Insertar
      </a>
    </div>
  </div>

  <div class="row">
    <table id="tablaproceso" class="table table-striped">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Tarea</th>
        </tr>
      </thead>
      <tbody>
        {% for p in proceso %}
          <tr>
            <td>{{ p.proceso }}</td>
            <td>{{ p.fecha_inicio }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</main>

{% endblock content %}
